<h2 class="head">Houses</h2>
<div class="container">  
  <div *ngFor="let house of Houses | paginate: {id:'houses', itemsPerPage:4,currentPage:p}" class="cards row">
    <mat-card class="example-card3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{house.name}}</mat-card-title>
        <mat-card-subtitle>{{house.region}}</mat-card-subtitle>
      </mat-card-header>
      <img class="card-image" mat-card-image src="assets/images/castle.png">
      <button [routerLink]="['/houses',getId(house.url)]" class="button" mat-button>Know More</button>
    </mat-card>
  </div>
</div>

<ngx-spinner type="line-scale" loadingText="Please Wait..."></ngx-spinner>

<pagination-controls class="my-pagination" autoHide="true" id="houses" (pageChange) = "p = $event"></pagination-controls>