.example-card {
    display: flex;
    flex-direction: column;
    font-family: 'GameOfThrones';
    justify-content: space-between;
    color: white;
    width: 20vw;
    background-image: linear-gradient(to top, #42147e 0%, #81cfc2 100%);
}

.shadow{
    -webkit-box-shadow: 0 4px 4px #777;
    -moz-box-shadow: 0 4px 4px #777;
    box-shadow: 0 4px 4px #777;
}

mat-divider{
    border-color: rgb(212, 212, 212);
}

.cards{
    margin:8px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 40vw;
}

.content{
    flex-grow: 1;
}

.val{
    display: flex;
    flex-direction: column;
}

.button{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
}

.head{
    color: rgb(77, 34, 0);
    text-align: center;
    font-family: 'GameOfThrones';
}

.btn{
    text-align: right;
    margin: 8vmin;
    color: white;
}



.list-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.name{
    flex-grow: 1;
    font-weight: bolder;
}
.container{
    display:flex;
    flex-direction: row;
    margin: 4vmin;
    justify-content: center;
}

.value{
    color: rgb(6, 130, 179);
    align-items: flex-end;
}

.list-row:hover{
    background: rgb(189, 189, 189);
    color:white;
}


@media only screen and (max-width:900px){
    .example-card{
        width: 40vw;
    }
}

@media only screen and (max-width:550px){
    .example-card{
        width: 75vw;
    }

    .container{
        flex-wrap: wrap-reverse;
    }

    .cards{
        width: 80vw;
    }
}