.search{
    display: flex;
    flex-direction: row;
    margin: 4vmin;
}

.searchTerm{
    padding: 1vmin;
    flex-grow: 1;
    border: 3px solid rgb(0, 178, 223);
    border-radius: 5px;
}

.filt{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchButton{
    display: flex;
    border: 1px solid #00B4CC;
  
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
}

.btnn{
    background: #00B4CC;
    margin-left: 2vmin;
}
.searchTerm:focus{
    outline: none
}

.searchButton:focus{
    outline: none
}

.example-card {
    display: flex;
    flex-direction: column;
    font-family: 'GameOfThrones';
    color: white;
    width: 15vw;
    background-image: linear-gradient(to top, #a70000 0%, #cf8581 100%);
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px;
    justify-content: space-around;
}

img{
    flex: 1 0 auto
}

.Filter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 8vmin;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    width: 85vw;
    border-radius: 20px;
}

mat-select{
    color: white;
}

.select{
    flex-grow: 1;
    margin-left: 8vmin;
    margin-right: 8vmin;
}

.filter{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.example-card2 {
    display: flex;
    flex-direction: column;
    font-family: 'GameOfThrones';
    color: white;
    width: 15vw;
    background-image: linear-gradient(to top, #42147e 0%, #81cfc2 100%);
}

.example-card3 {
    display: flex;
    flex-direction: column;
    font-family: 'GameOfThrones';
    color: white;
    width: 15vw;
    background-image: linear-gradient(to top, #00aa09 0%, #86dfa1 100%);
}

.cards{
    margin:4px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
}

.button{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    justify-content: center;
}

.head{
    color: rgb(77, 34, 0);
    text-align: center;
    font-family: 'GameOfThrones';
}

.my-pagination /deep/ .ngx-pagination .current {
    background: rgb(3, 0, 151);
    box-shadow: 0 3px 3px #777;
    padding: 8px;
}

.my-pagination /deep/ .ngx-pagination li {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 0 3px 3px #777;
    padding: 1vmin;
    margin: 0.5vmin;
}

.my-pagination /deep/ .ngx-pagination li a:focus{
    outline: none;
}

.my-pagination /deep/ .ngx-pagination li a:hover{
    background:none;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: white;
    margin: 1vmin;
    padding: 1vmin;
    border-radius: 20px;
    box-shadow: 0 3px 3px #777;
}

.my-pagination /deep/ .ngx-pagination .pagination-next{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin: 1vmin;
    color: white;
    padding: 1vmin;
    border-radius: 20px;
    box-shadow: 0 3px 3px #777;
}

.my-pagination{
    text-align: center;
}

@media only screen and (max-width:980px){
    .example-card2{
        width: 27vw;
    }

    .example-card{
        width: 27vw;
    }

    .example-card3{
        width: 27vw;
    }
    
    .Filter{
        flex-direction: column;
    }
}

@media only screen and (max-width:600px){
    .example-card2{
        width: 70vw;
    }

    .example-card{
        width: 70vw;
    }

    .example-card3{
        width: 70vw;
    }
}

@media only screen and (max-width:320px){
    .Filter{
        width: 95vw;
    }
}