<div class="filter">
    <div class="Filter">

        <div class="filt">
            <mat-form-field class="select">
                <mat-select [(value)]="selected">
                    <mat-option value="filter">Filter By</mat-option>
                    <mat-option value="option1">Books</mat-option>
                    <mat-option value="option2">Characters</mat-option>
                    <mat-option value="option3">Houses</mat-option>
                    <mat-option value="option4">Name</mat-option>
                </mat-select>


            </mat-form-field>

            <div *ngIf="!showBooks(selected) && !showCharacters(selected) && !showHouses(selected) && !showName(selected)">
                <button class="button1" mat-mini-fab color="accent" mat-raised-button>
                    <mat-icon>search</mat-icon>
                </button>
            </div>

            <div *ngIf="showBooks(selected)">
                <button class="button1" mat-mini-fab [routerLink]="['/books']" mat-raised-button color="accent">
                    <mat-icon>search</mat-icon>
                </button>
            </div>

            <div *ngIf="showCharacters(selected)">
                <button class="button1" mat-mini-fab [routerLink]="['/characters']" color="accent" mat-raised-button>
                    <mat-icon>search</mat-icon>
                </button>
            </div>

            <div *ngIf="showHouses(selected)">
                <button class="button1" mat-mini-fab [routerLink]="['/houses']" color="accent" mat-raised-button>
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="showName(selected)" class="wrap">
            <div>
                <div class="search">
                    <input [(ngModel)]="name" type="text" class="searchTerm" placeholder="Enter Character Name" required>
                    <div *ngIf="isNull(name)">
                        <button class="btnn" mat-mini-fab>
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>

                    <div *ngIf="!isNull(name)">
                        <button class="btnn" [routerLink]="['/gotCharacter',getCharacterName()]" mat-mini-fab>
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container" *ngFor="let data of singleData | paginate: {id:'alldata', itemsPerPage:8,currentPage:page}">
        <div *ngIf="isBook(data)" class="cards row">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{data.name}}</mat-card-title>
                    <mat-card-subtitle>{{data.publisher}}</mat-card-subtitle>
                </mat-card-header>
                <img class="card-image" mat-card-image src="assets/images/book.png">
                <button [routerLink]="['/books',getBookId(data.url)]" class="button" mat-button>Know More</button>
            </mat-card>
        </div>

        <div *ngIf="isCharacter(data)" class="cards row">
            <mat-card class="example-card2">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{data.name}}</mat-card-title>
                </mat-card-header>
                <img class="card-image" mat-card-image src="assets/images/tyrion.jpg">
                <button [routerLink]="['/characters',getCharacterId(data.url)]" class="button" mat-button>Know More</button>
            </mat-card>
        </div>

        <div *ngIf="isHouse(data)" class="cards row">
            <mat-card class="example-card3">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{data.name}}</mat-card-title>
                    <mat-card-subtitle>{{data.region}}</mat-card-subtitle>
                </mat-card-header>
                <img class="card-image" mat-card-image src="assets/images/castle.png">
                <button [routerLink]="['/houses',getHouseId(data.url)]" class="button" mat-button>Know More</button>
            </mat-card>
        </div>
    </div>
</div>

<ngx-spinner type="line-scale" loadingText="Please Wait..."></ngx-spinner>

<pagination-controls previousLabel="prev" nextLabel="next" maxSize="3" class="my-pagination" id="alldata" (pageChange)="page = $event"></pagination-controls>